@use "../abstracts/variables" as *;

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-main {
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
  padding: 16px;
}
