@use "../abstracts/variables" as *;

.dashboard-header {
    height: 56px;
    padding: 0 20px;
    background: $bg-header;
    border-bottom: 1px solid $border-color;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
}
