@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.panel {
    @include panel;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.panel,
.panel-left,
.panel-right,
.panel-body,
.panel-section {
    min-height: 0;
}

.panel-left {
    position: relative;
}

.panel-right {
    background: $bg-panel-alt;
}

.panel-body {
    flex: 1;
    overflow: hidden;
}

.panel-section {
    overflow: hidden;
}

.panel-section[data-section="logs"] {
    display: flex;
    flex-direction: column;
}

.panel {
    display: flex;
    flex-direction: column;  
}