@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.panel {
    @include panel;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.panel-left {
    position: relative;
    min-height: 0;
}

.panel-right {
    background: $bg-panel-alt;
    min-height: 0;
}

.panel-body {
    flex: 1;
    min-height: 0;
    overflow: hidden;
}

.panel-section {
    height: 100%;
    overflow: auto;
}
